doctype html
html
  head
    title= title
  body
    form(action="/")
      input(id="m" autocomplete="off")
      button 送信
    ul(id="messages")
    script(src="/socket.io/socket.io.js")
    script(src="/js/bundle.js")
