doctype html
html
  head
    title= title
    style.
      .color-box{
        height:20px;
        width:20px;
      }
      li{
        display:flex;
      }
      p{
        margin:0;
      }
  body
    form(action="/")
      input(id="m" autocomplete="off")
      button 送信
    ul(id="messages")
    script(src="/socket.io/socket.io.js")
    script(src="/js/bundle.js")
